.snakemake/
aux/
data/
documentation/site/
sandbox/
documentation/docs/.obsidian/
JOSS/.obsidian
tmp/
test/seabreeze_batch_test/logs/
test/seabreeze_run_test/02_genomes/
test/seabreeze_run_test/data.csv
test/seabreeze_run_test/logs/
test/seabreeze_run_test/ori_dif_sequences.csv
src/seabreeze.egg-info/
__pycache__
