bin/scripts/__pycache__
.snakemake/
aux/
bin/__pycache__/
bin/scripts/plotsr/test/__pycache__/
data/
documentation/site/
sandbox/
test/__pycache__/
bin/scripts/__pycache__/*
documentation/docs/.obsidian/
JOSS/.obsidian
