bin/scripts/__pycache__
.snakemake/
aux/
bin/__pycache__/
bin/scripts/plotsr/test/__pycache__/
data/
documentation/site/
sandbox/
test/__pycache__/
bin/scripts/__pycache__/*
documentation/docs/.obsidian/
JOSS/.obsidian
tmp/
test/seabreeze_batch_test/logs/
test/seabreeze_run_test/02_genomes/
test/seabreeze_run_test/data.csv
test/seabreeze_run_test/logs/
test/seabreeze_run_test/ori_dif_sequences.csv
src/seabreeze.egg-info/
src/seabreeze/__pycache__/
src/seabreeze/plotsr/__pycache__
src/__pycache__/
